{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <section class="section">
        <div class="container">
            {% for post in posts %}
                <div class="box">
                    <p>
                        <p class="title is-size-6 is-marginless">
                            <a href="#">{{ post.title }}</a>
                        </p>
                        <small class='has-text-grey'>
                            submitted {{ post.created_at | naturaltime }} by <a href="#">{{ post.user.username }}</a>
                        </small>
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}